.header {
    position: relative;
    background: #ffe600;
    width: 100vw;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

.header > div {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
}

.logo img {
    height: 80%;
}

.help {
    text-decoration: none;
    color: #202020;
    align-self: center;
}

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .header > div {
            width: 90%;
        }
    }