.container{
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
    font-size: clamp(0.8rem, 1.3vw, 1.5rem);
    width: 80%;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #0002;

}

.container > div {
    height: 100%;
    max-height: 810px;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
        /* @media (max-width: 1000px) {
            .container > div {
                grid-template-columns: repeat(4, 1fr);
            }
        }   

        @media (max-width: 900px) {
            .container > div {
                grid-template-columns: repeat(3, 1fr);      
            }
        }   

        @media (max-width: 700px) {
            .container > div {
                grid-template-columns: repeat(2, 1fr);
            }
        }   

        @media (max-width: 500px) {
            .container > div {
                grid-template-columns: 1fr;
            }
        }    */