.home {
    background: #ebebeb;
    padding: 60px 30px 60px 30px;
}

.homeAside {
    background: #ebebeb;
    display: flex;
    padding: 60px 30px 60px 30px;
    gap: 10px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    justify-self: center;
    position: relative;
    width: 100%;
}

.buttonFilter {
    position: absolute;
    right: 10%;
    top: 130px;
    color: #525252;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #52525233;
    background-color: #fff;
    padding: 0.2rem 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: 0.9rem;
    z-index: 2;
}

.buttonFilter:hover {
    background-color: #d4d4d4;
    color: #525252; 
    border: none;
}

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (min-width: 1475px) {
        .buttonFilter {
            right: 50%;
        }
    }

    @media (max-width: 768px) {
        .home,.homeAside {
            padding: 60px 10px 60px 10px;
        }
        
    }

    @media (max-width: 450px) {
        .homeAside {  
            padding: 30px 10px 60px 10px;
            flex-direction: column;
        }
        .aside {
            width: 100%;
        }
    }