.home {
    background: #ebebeb;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "header header header"
    "container container container"
    "footer footer footer";
}

.homeAside {
    background: #ebebeb;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas: 
    "header header header"
    "aside container container"
    "footer footer footer";
}

header {
    grid-area: header;
}

/* .products {
    grid-area: products;
    position: relative;
} */

.aside {
    grid-area: aside;
}
.notAside{
    display: none;
}

footer {
    grid-area: footer;
}

.container {
    grid-area: container;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    align-items: center;
    position: relative;
}

.buttonFilter {
    position: absolute;
    right: 10%;
    top: 150px;
    color: #525252;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #52525233;
    background-color: #fff;
    padding: 0.2rem 1rem;
    transition: background-color 0.2s ease, color 0.2s ease;
    font-size: 0.9rem;
    z-index: 5;
}

.buttonFilter:hover {
    background-color: #d4d4d4;
    color: #525252; 
    border: none;
}


