.publishProductForm {
    background: linear-gradient(to bottom, #fde68a 50%, #ebebeb 50%);
    font-size: clamp(1rem, 2vw, 1.5rem); 
    color: #525252;
    padding: 60px 0;
}

.publishProductForm > form {
    display: flex;
    flex-direction: column; 
    justify-self: center;
    width: 50%;
    max-width: 480px;
    gap: 10px;
}

.publishProductForm > h2 {
    margin: 0 10px 30px 10px ;
    justify-self: center;
    font-size: 1.1em;
    font-weight: 100;
}

.publishProductForm p {
    font-size: 0.6em;
    font-weight: bolder;
    margin: 20px 0 5px 0;
}

.publishProductForm span {
    color: red;
    font-size: 1.2em;
    font-weight: bolder;
}

.publishProductForm input, textarea {
    height: 2.5rem;
    background-color: white;
    box-shadow: 3px 5px 5px #0006;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
}

.publishProductForm textarea {
    width: none;
    height: 20vh;
}
/* Text Input ----------------------------------------- */
.textInput {
    display: flex;
    flex-direction: column; 
}

/* Number Input ----------------------------------------- */
.numberInput {
    display: flex;
    flex-direction: column; 
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
.numberInput input[type="number"]::-webkit-outer-spin-button,
.numberInput input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Checkbox Input ----------------------------------------- */
.checkboxInput {
    display: flex;
    gap: 20px;
}
.checkboxInput > p {
    margin: 20px 0;
}

.checkboxInput > input {
    width: 20px;
    height: 20px;
    align-self: center;
}

/* Publish Button ----------------------------------------- */

.publishButton {
    background-color: #3b82f6;
    color: #fff;
    width: 100%;
    min-height: 30px;
    height: 50px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
    margin: 30px 0 0 0 ;
}
.publishButton:hover {
    background-color: #1d4ed8;
}

.returnButton {
    background-color: #e5e7eb;
    color: #374151;
    width: 100%;
    min-height: 30px;
    height: 50px;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: none;
    font-size: 1rem;
    letter-spacing: 0.5px;
}
.returnButton:hover {
    background-color: #d1d5db;
}

/* ------------------ PHONE SCREEN VIEW -------------------------*/
@media (max-width: 768px) {
    .publishProductForm > form {
        width: 80%;
    }
}