.container {
    list-style: none;
    margin: 0;
    padding: 0;
    height: auto;
}

.container > li {
    width: auto;
    height: auto;
    padding: 10px 0;
    align-content: center;
    padding-left: 2rem;
    text-decoration: none;
    color: #fff;
}
.container > li:hover {
    background: #3484fa;
    cursor: pointer;
}