/* Profile --------------------------------- */
.profile {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto;
    grid-column-gap: 15px;
    background: #fff159;
    width: 100%;
    min-height: 125px;
    padding: 10px 0;
    place-content: center;
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
    box-shadow: 0px 3px 10px #00000033;
    z-index: 2;
    
}

.profile > img {
    grid-row: span 2;
    height: 14vw;
    max-height: 70px;
    border-radius: 50%;
    justify-self: end;
    align-self: center;
}

.profile > h5 {
    margin: 0;
    font-size: 1.1rem;
    color: #000B;
}

.profile > p {
    margin: 0;
    font-size: 0.9rem;
    color: #5f5f5fBB;
}

.buttons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    grid-column: span 2;
    justify-self:center ;
    width: 100%;
}

.buttons > button{
    margin: 2px;
    padding: 8px 0;
    width: 40%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}

.buttons > button:first-child{
    color: #fff;
    background: #3484fa;
}

.buttons > button:last-child{
    background: #fff;
    color: #3484fa;
    border: 1px solid #3484fa;
}

/* ----------------------------------------- */

.options{
    display: flex;
    flex-direction: column;
    background: #fff;
    width: 100vw;
    height: auto;
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
    font-size: small;
    font-weight: bold;
}

.options > ul{
    padding: 16px 0;
    display: grid;
    grid-template-rows: auto;
    margin: 0;
    padding-left: 30px;
    list-style: none;
    height: 7vh;
    border-bottom: 1px solid #ddd;
}

/* .options > ul:nth-child(3){
    height: 14vh;
}

.options > ul:last-child{
    height: 7vh;
} */

.options > ul > li{
    align-content: center;
}

.options > ul > li > a{
    text-decoration: none;
    color: #000a;
    padding-left: 1rem ;
}

.options > ul > li > svg{
    height: 18px;
}


/* Button Mercado Play ------------------ */

.buttonMercadoPlay{
    background: #00a650;
    color: white;
    font-size: 0.6rem ;
    padding: 0.2rem 0.3rem 0.1rem 0.2rem;
    border-radius: 15px;
    width: fit-content;
    margin-left: 5px;
}


/* Button Best Selling ------------------ */

.buttonBestSelling{
    background: #3483fa;
    color: white;
    font-size: 0.6rem ;
    padding: 0.2rem 0.3rem 0.1rem 0.2rem;
    border-radius: 15px;
    width: fit-content;
    margin-left: 5px;
}