html {margin: 0;}
body {margin: 0;}

.header {
    position: relative;
    background: #ffe600;
    width: 100vw;
    height: 8vw;
    max-height: 100px;
    min-height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.container{
    width: 90vw;
    height: 85%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 3fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    grid-template-areas: 
        "logo search advertising"
        " location buttons login";
}

/* ----------------------- MENU -------------------------- */
.menu{
    display: none;
    grid-area: menu;
    place-content: center;
}

.menuInput{
    display: none;
}
.activeMenu {
    display: none;
    
}
.activeMenu > svg{
    width: 70%;
}

.itemsMenu{
    display: none;
    position: absolute;
    padding: 15px;
    margin: 5PX;
    background: #aaa;
    list-style: none;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 30vw;
    justify-items: center;
    border-radius: 15px;
}

.itemsMenu > li a {
    text-decoration: none;
    color: black;

}

/* ------------------------------------------------- */

/* ------------------------------------------------- */
.logo {
    grid-area: logo;
    width: 100%;
    height: auto;
    display: block;
    place-self: center;
}
.logoSmall {
    display: none;
}


.search {
    background: red;
    grid-area: search;
}


.advertising {
    grid-area: advertising;
    align-content:center ;
}
.advertising > img {
    width: 100%;
    height: auto;
    display: block;

}


.location {
    background: blue;
    grid-area: location;
}

.buttons {
    background: yellow;
    grid-area: buttons;
}

.login {
    background: black;
    grid-area: login;

}
/* ------------------------------------------------- */

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .header {background:#fff159;}
        .menu {display: block;}
        .activeMenu {
            display: flex;
            cursor: pointer;
            place-content: center;
        }
        .location {
            grid-column-start: span 5;
        }
        .container {
            width: 98vw;
            height: 80%;
            grid-template-columns: 1fr 4fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 3px;
            grid-template-areas: 
                "logo search menu login"
                "location location location location";
        }
        .advertising, 
        .buttons {
            display: none;
        }
        
        .itemsMenu {
            display: none;
        }

        .menuInput:checked ~ .itemsMenu {
            display: block;
        }


        .logo {
            display: none;
        }
        .logoSmall {
            grid-area: logo;
            height: 70%;
            display: block;
            place-self: center;
        }

}
/* --------------------------------- */



