html {margin: 0; padding: 0;}
body {margin: 0; padding: 0;}

.header {
    position: relative;
    background: #ffe600;
    width: 100vw;
    height: 5vw;
    max-height: 100px;
    min-height: 87px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    padding: 8px 0px;
}

.container{
    width: 90vw;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 4fr 2fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-areas: 
        "logo search advertising "
        " location buttons login";
}

/* ----------------------- MENU -------------------------- */
.menu{
    display: none;
    grid-area: menu;
}

.menuInput{
    display: none;
}
.activeMenu {
    display: none;
}

.itemsMenu{
    display: none;
    position: absolute;
    padding: 15px;
    margin: 5PX;
    background: #aaa;
    list-style: none;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 30vw;
    justify-items: center;
    border-radius: 15px;
}

.itemsMenu > li a {
    text-decoration: none;
    color: #202020;

}
/* ------------------------------------------------- */

/* Logo --------------------------------- */
.logo {
    grid-area: logo;
    width: 80%;
    height: auto;
    display: block;
    place-self: center;
}
.logoSmall {
    display: none;
}

/* Search --------------------------------- */
.search {
    grid-area: search;
    align-self: center;
    justify-self: start;
    place-items: center;
    width: 90%;
    height: 100%;
    display: flex;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    background: #fff;
    border-radius: 2px;
}

/* Advertising --------------------------------- */
.advertising {
    grid-area: advertising;
    align-content:center;
    justify-items: end;
}
.advertising > img {
    width: 100%;
    height: auto;
    display: block;
}

/* Location --------------------------------- */
.location {
    grid-area: location;
    list-style: none;
    display: flex;
    height: fit-content;
    font-size: 0.85rem;
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
    color: #202020;
}

.location > a{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.location > img {
    height: 30%;
}

/* Button --------------------------------- */
.button { 
    display: grid;
    grid-area: buttons;
    grid-template-columns: repeat(8, 1fr); 
    width: 90%;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.85rem;
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
}

.button > li {
    align-self: end;
    justify-self: center;
    margin: 0;
    padding: 0;
}

.button > li > a{
    text-decoration: none;
    color: #202020;
}

/* Login --------------------------------- */
.login {
    display: flex;
    grid-area: login;
    padding-left: 20px;
    font-size: 0.85rem;
    font-family: "Proxima Nova",Arial,sans-serif,sans-serif;
}

.login > ul{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr; 
    grid-column-gap: 10px;
    width: 100%;
    height: fit-content;
    list-style: none;
    margin: 0;
    padding: 0;
    align-self: end;
    
}

.login > ul > li {
    justify-self: center;
    margin: 0;
    padding: 0;
}

.login > ul > li > a{
    text-decoration: none;
    color: #202020;
}
/* Cart --------------------------------- */
.cart{
    display: block;
}

.cart > svg {
    height: 100%;
}

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .header {
            background:#fff159;
            margin-top: -9px;
        }
        .menu {
            display: flex;
            justify-content: center;
        }
        .activeMenu {
            display: flex;
            cursor: pointer;
            height: 80%;
            align-self: center;
            justify-content: center;
        }
        .activeMenu > svg{
            height: 80%;
            align-self: center;    
        }
        .location {
            grid-column-start: span 5;
        }
        .container {
            width: 98vw;
            height: 80%;
            grid-template-columns: 1fr 7fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-column-gap: 3px;
            grid-template-areas: 
                "logo search menu cart"
                "location location location location";
        }
        .advertising, 
        .buttons,
        .login {
            display: none;
        }
        
        .itemsMenu {
            display: none;
        }

        .menuInput:checked ~ .itemsMenu {
            display: block;
        }

        .logo {
            display: none;
        }
        .logoSmall {
            grid-area: logo;
            height: 50%;
            display: block;
            place-self: center;
        }

        .search {
            flex-direction: row-reverse;
            height: 60%;
        }

        .cart{
            display: flex;
            justify-content: center;
        }

        .cart > svg {
            height: 80%;
            align-self: center;
        }

}
/* ------------------------------------------------- */



