html {margin: 0;}
body {margin: 0;}

.header {
    position: relative;
    background: #ffe600;
    width: 100vw;
    height: 8vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
}

.container{
    width: 90vw;
    height: 85%;
    display: grid;
    align-content: center;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 5px;
    grid-template-areas: 
        "logo search advertising"
        " location buttons login";
}

/* ----------------------- MENU -------------------------- */
.menu{
    display: none;
    grid-area: menu;
    height: 100%;
}

.menuInput{
    display: none;
}
.activeMenu {
    display: none;
}
.activeMenu > svg{
    height: 70%;
    width: 70%;
}

.closedMenu {
    display: none;
    justify-self: end;
}

.closedMenu > svg{
    height: 100%;
    width: 100%;

}

.itemsMenu{
    display: none;
    position: absolute;
    padding: 15px;
    margin: 5PX;
    background: #aaa;
    list-style: none;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100vw;
    justify-items: center;
    border-radius: 15px;
}

.itemsMenu > li a {
    text-decoration: none;
    color: black;

}

/* ------------------------------------------------- */

/* ------------------------------------------------- */
.logo {
    background: white;
    grid-area: logo;
}

.search {
    background: red;
    grid-area: search;
}

.advertising {
    background: green;
    grid-area: advertising;
}

.location {
    background: blue;
    grid-area: location;
}

.buttons {
    background: yellow;
    grid-area: buttons;
}

.login {
    background: black;
    grid-area: login;

}
/* ------------------------------------------------- */

/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .menu {display: block;}
        .activeMenu {
            display: block;
            cursor: pointer;
            justify-items: center;
            align-items: center;
        }
        .container {
            width: 90vw;
            height: 80%;
            grid-template-columns: 3fr 6fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "logo search menu";
            
        }
        .advertising, 
        .location, 
        .buttons,
        .login {
            display: none;
        }
        
        .itemsMenu {
            display: none;
        }

        .menuInput:checked ~ .itemsMenu {
            display: block;
        }
        .menuInput:checked ~ .closedMenu {
            display: block;
            width:10%;
        }


}
/* --------------------------------- */



