.footer {
    height: 100px;
    background-color: #f5f5f5; 
    color: #333;               
    text-align: center;
    padding: 20px 0 20px 0;
    font-size: clamp(0.6rem, 1vw, 1rem);
    font-family: "Proxima Nova", Arial, sans-serif, sans-serif;
    border-top: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer span{
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
    align-self: center;
    gap: 5px;
}

.footer p {
    margin: 5px 0;
    padding: 0;
    font-size: 1em;
}

.footer p svg{
    height: 15px;
    padding-left: 5px;
}

.footer a {
    color: #3483fa; 
    font-weight: bold;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer span:last-child {
    font-size: 0.9em;
}


/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .footer {
            box-shadow: 5px 5px 20px #0005;
            padding: 20px;
        }
        
        .footer span{
            font-weight: bold;
            font-size: 1.2em;
            display: flex;
            flex-direction: column;
            align-self: center;
        }
        .footer span p{
            margin: 0;
        }

    }