.inputSearch{
    width: 100%;
    height: 70%;
    background: #fff;
    border: none;
    margin-left: 10px;
    font-size: 100%;
}

.buttonSearch{
    height: 70%;
    background: #fff;
    border: none;
    cursor: pointer;
    border-left: 1px solid #0002;
}

.buttonSearch > img {
    height: 80%;
    margin: 0 5px;
}

/* Search Result ----------------------------------------------- */

.searchResult {
    position: absolute;
    top: 100%;
    z-index: 5;
    height: fit-content;
    display: grid;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(156, 163, 175, 0.4);
    padding: 10px 0;
    width: 100%;
}

.searchResult > a {
    display: flex;
    cursor: pointer;
    height: 40px;
    text-decoration: none;
    color: #202020;
    align-items: center;
}

.searchResult > a:hover {
    background-color: #3b82f6;
    color: #fff;
}

.searchResult img {
    height: 60%;
    padding: 0 8px;
    border-left: 1px solid #d1d5db;
}

.searchResult p {
    font-size: 0.9em;
    justify-items: center;
    margin: 0;
}



/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .buttonSearch{
            height: 50%;
            width: 12%;
            background: #fff;
            border: none;
            border-right: 1px solid #0002;
        }
    }
