.cartInProduct{
    color: #202020;
    font-size: clamp(1.2rem, 2vw, 1.5rem);
    height: fit-content;
    max-height: 190px;
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #0003;
}


.cartInProduct div h2 {
    margin: 0;
    font-weight: bold;
    font-size: 0.7em;
    padding: 20px 24px;
}

.cartInProduct section {
    display: flex;
    /* display: grid;
    grid-template-columns: 2fr 6fr 3fr 4fr; */
    gap: 15px;
    padding: 20px 24px;
    border-top: 1px solid #ebe6e7;
}

/* Image -------- */

.cartInProduct img {
    width: 80px;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* Title -------- */
.title{
    padding-left: 10px;
}
.title a {
    text-decoration: none;
    color: #202020;
    font-size: 0.6em;
}
.title a h3 {
    margin: 0;
    font-weight: lighter;
}

.title button{
    color: #3b82f6;
    background: #fff;
    border: none;
    margin-top: 5px;
    width: fit-content;
}

.title button:hover{
    text-decoration: underline;
}


/* Button Add and Remove */
.addAndRemove{
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border: 1px solid #202020;
    border-radius: 5px;
    padding: 0 10px;
    width: 5vw;
}

.addAndRemove p {
    font-size: 0.7em;
    margin: 10px 0;
}

.addAndRemove button{
    border: none;
    background: none;
}

.addAndRemove button:last-child {
    color: #3b82f6;
    cursor: pointer;
}

.removeProduct {
    cursor: pointer;
    color: #f63b3b;
}
.removeProductNone {
    cursor: not-allowed;
}

/* Price Info */
.priceInfo {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.priceInfo h4 {
    margin: 0;
    font-size: 0.9em;
    font-weight: lighter;
    color: #1e2939;
}

.priceInfo p {
    margin: 0;
    font-size: 0.4em;
    font-weight: bold;
    color: #737373;
}
.priceInfo p:last-child{
    padding-top: 10px ;
    font-size: 0.6em;
    font-weight: lighter;
    color: #00a63e;
}



/* ------------------ PHONE SCREEN VIEW -------------------------*/
    @media (max-width: 768px) {
        .cartInProduct {
            max-height: none;
        }
        .cartInProduct section {
            justify-content: space-between;
        }
        .info {
            flex-direction: column;
            width: fit-content;
            gap: 10px;
        }
        .addAndRemove{
            width: 80%;
        }
        .priceInfo{
            align-items: start;
        }
        .cartInProduct section a{
            display: flex;
            justify-content: center;
        }
        .cartInProduct img {
            width: 50%;
            justify-items: center;
        }
        .title {
            padding-left: 0;
        }
    }

    @media (max-width: 600px) {
        .cartInProduct section {
            flex-direction: column;
        }
        .info{
            align-self: center;
        }
        .priceInfo{
            align-items: center;
        }
    }

    @media (max-width: 450px) {
        .cartInProduct section {
            padding: 10px 12px;
        }
    }